<div class="home-page-container">
	<div class="dashboard soft-box" id="dashboard">
		<div class="dashboard-content">
			<img id = "picture" class="picture-border" />
			<p id="user-id"></p>
			<a href = "/signout">Sign out</a>
					<h1 class  = "title">Welcome to TweetCloud.</h1>
					<p style ="text-align:center"> (Below is a tag cloud of trending words on your twitter timeline)</p>
		</div>
	</div>
	<div class="summary soft-box" id="summary">
		<div class="summary-content">
			<img src="img/loading.gif" width="15%" align="center" />
			<p>Loading...</p>
		</div>
	</div>
	<div id = "list" class="list soft-box"></div>
</div>