<div id="signin-page-container" class="signin-page-container soft-box">
	<h1 class="title">Welcome to TweetCloud.</h1>
	<p class="sub-title">
		TweetCloud is a web application that let's you visualise the tweets
		of those you follow in a really cool tag cloud! <br />To get started
		you must sign in with Twitter
	</p>
	<img width="20%" src="/img/twitter-logo-cute-bird.jpg"
		alt="login to twitter" /><br /> <a href="login"><img
		src="/img/Sign-in-with-Twitter-darker.png" alt="login to twitter" /></a>
</div>